API/obj/Debug/net7.0/API.csproj.CoreCompileInputs.cache
API/bin/Debug/net7.0/API.dll
API/obj/Debug/net7.0/API.csproj.CoreCompileInputs.cache
API/obj/Debug/net7.0/API.assets.cache
API/bin/Debug/net7.0/API.pdb
