<app-navbar></app-navbar>
<app-home></app-home>

<button class="btn btn-success" (click)="ShowToaster()">
    Click this button to show toastr!
</button><hr>

<!-- Begin: Learning purpose -->
<button class="btn btn-success">Success Button</button><br>
<button class="btn btn-danger">Danger Button</button><br>
<button class="btn btn-warning">Warning Button</button><br>
<button class="btn btn-outline-success">Success Outline Button</button><br>
<button class="btn btn-outline-danger">Danger Outline Button</button><br>
<button class="btn btn-outline-warning">Warning Outline Button</button><br>
<!-- End: Learning purpose -->
<!-- <ul>
    <li *ngFor="let user of users">
        {{ user.userName }} - {{ user.password }}
    </li>
</ul> -->

<!-- <button type="button" class="btn btn-primary"
tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
Simple demo
</button> -->

<!-- <p>Show User details using bootstrap Table</p>
<div class="container-fluid">
    <table class="table table-striped">
        <thead>
            <tr>
                <th  scope="row">Id</th>
                <th scope="row">Username</th>
                <th scope="row">Password</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users" scope>
                <td scope="row">{{ user.id }}</td>
                <td scope="row">{{ user.userName }}</td>
                <td scope="row">{{ user.password }}</td>
            </tr>
        </tbody>
    </table>
</div> -->
<!-- <app-promise-vs-observable></app-promise-vs-observable> -->
